.footer {
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
 width: 100%;
 margin-top: 5rem;
 /* Optional margin above footer */
 background-color: #fff;
 /* Background color for better visibility */
 z-index: 10;
 /* Ensures the footer stays above other elements */

 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 100%;
 }

 li {
  padding: 1rem;

  a {
   text-decoration: none;

   &:hover {
    text-decoration: underline;
   }
  }
 }
}

/* Add padding to the main content to prevent overlapping */
.content {
 padding-bottom: 5rem;
 /* Matches the height of the footer */
}